.profile-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;;
    padding: 6rem;
    background-color: #f9f9f9;
    min-height: 100vh;
}

/* ProfilePage.css */
.blank-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}


.profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 2rem;
    text-align: center;
    box-sizing: border-box;
}

.profile-header {
    margin-bottom: 2rem;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1E90FF;
}

.profile-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 1rem;
}

.profile-details {
    margin-bottom: 2rem;
    text-align: left;
}

.profile-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}

.profile-label {
    font-weight: bold;
    color: #555;
}

.profile-value {
    color: #777;
}

.profile-actions {
    display: flex;
    justify-content: space-between;
}

.profile-button {
    background-color: #1E90FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.profile-button:hover {
    background-color: #0066cc;
}
