.MyCourses-container {
    padding: 1rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9; /* Dodano delikatne tło dla lepszej czytelności */
    min-height: 100vh;
}

.MyCourses-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* Dodano odstępy między elementami */
    justify-content: center;
    padding: 1rem; /* Dodano wewnętrzne odstępy */
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.MyCourses-section {
    width: 100%;
    max-width: 800px;
    margin-bottom: 2rem;
}

.MyCourses-section h2 {
    color: black; /* Ustawienie koloru tekstu na czarny */
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center; /* Wyśrodkowanie tytułu sekcji */
}

.MyCourses-list {
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}

.event-id {
    font-size: 1rem;
    color: #333;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-bottom: 1px solid #eaeaea;
    text-align: left;
}

.event-id:last-child {
    border-bottom: none; /* Usuń linię na końcu listy */
}
