html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    box-sizing: border-box;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.welcome-container {
    margin: 1rem auto 0 auto;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.welcome-text {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    color: dimgrey;

    animation: slideAnimation 5s ease-in-out forwards;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.recommended-container {
    margin: 3rem auto;
    width: 90%;
    max-width: 1200px;
}

.recommended-title {
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    color: dimgrey;
    text-align: left;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: flex-start;
}

